.supporters
    .content
        align-items: left
        div
            display: flex
            align-items: left
            flex-direction: column
            svg
                height: rem(100px)
                fill: _graphic
                padding: 0
                padding: rem(30px)
            article
                +max(1)
                    margin-top: rem(20px)
                    text-align: center
                h2
                    font-size: 2.0rem
                    padding: 0
                    margin: rem(20px) 0 rem(10px)
                    text-align: left
                p
                    font-size: 1.0rem
                    margin: 0
                    line-height: 1.0
                    +min(1)
                        overflow: hidden
                        text-align: left
                    +min(2)
                        font-size: 1rem
                    +min(3)
                        font-size: 1.1rem
