footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Careers
                li: a(href="#") Investors
                li: a(href="#") Pitch Deck
                li: a(href="#") Blog
                li: a(href="#") Partners
                li: a(href="#") Spec Sheet
                li: a(href="#") Demo Video

        div

            ul

                li: a(href="") Contact
                li: a(href="https://midnight-kitten-a5e.notion.site/Terms-Conditions-1df83db1a6f140ea8bf906b276205649") Terms
                li: a(href="https://midnight-kitten-a5e.notion.site/Privacy-Policy-7c3ec1ac979448d4b8f81c0eed31c739") Privacy
                li: a(href="fynx.substack.com") Newsletter

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Contact Info

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") hello@fynx.one

                    tr
                        td
                        td(class="locality") Santa Barbara, USA

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:00-00-000-0000") (+1) 209-712-8011

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Follow us on Twitter")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")

                li

                    a(href="#")

                        svg(role="img" title="Like us on Facebook")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-facebook")

                li

                    a(href="#")

                        svg(role="img" title="View our pins on Pinterest")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-pinterest")

                li

                    a(href="#")

                        svg(role="img" title="Connect with us on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
