section(class="canvas newsletter" id="newsletter")

    h2 Signup for our Newsletter
            div(class="content")
                iframe(src="https://fynx.substrack.com/embed")
    +nav-1({ target: "front", direction: "prev" })
