section(class="canvas section-2" id="section-2")

    h2 Key Features

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Lightweight Aerospace Materials
                p.
                    Novel Aerogel Composites
        div

            png: use(xlink:href="/assets/images/home/section-1/_inline/darpa.png")

            article

                h2 Electric Arc
                p.
                    40kV

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Aerospace Materials
                p.


        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Habilius
                p.
                    Cum modularis differentialis architectura vis et quantum vis compage. Vel iustus
                    utor vestri arbitrium of ars assituationem enable velit moduli.

    +nav-1({ target: "section-3", direction: "next" })
