section(class="canvas section-3" id="section-3")

    h2 Core Capabilities

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#fire-location")

            article

                h3 Instantaneous Flame Suppression
                p.
                   DARPA validated Electromagnetic and Acoustic methods of flame manipulation and extinquishing


                    #[a(href="https://www.youtube.com/watch?v=TXhdHeNUD1o") #[ Demonstration ]]

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#satellite")

            article

                h3 Satellite IoT Communications
                p.
                    Phased Array Satellite Communications allow our drones to be remotely operated from anywhere on Earth

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#aerogel")

            article

                h3 Proprietary Aerogels
                p.
                    Structurally sound, light, conductive, & fire-proof

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#battery")

            article

                h3 Battery
                p.
                    Long-lived battery that will last hours in the toughest environment
        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#hermes")

            article

                h3 Nimble
                p.
                    We provide the fastest agile software systems for when it matters most

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#transform")

            article

                h3 State of the Art Thermoelectric Materials
                p.
                    Convert thermal energy directly to useful electrical energy


    +nav-1({ target: "front", direction: "prev" })
