section(class="canvas section-2" id="section-2")

    h2 Key Features

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#lattice")

            article

                h2 Aerospace Materials
                p.
                    Composites able to withstand the extreme temperature ranges within wildfires 800C-1200C
        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#lightning")

            article

                h2 Arc Extinguishment
                p.
                    High Voltage, AC/DC Plasma Extinguishing Technology

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#capacitor")

            article

                h2 Solid State Battery
                p.
                    Fire-resistant battery management system

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#fast")

            article

                h2 Fast
                p.
                    Optimized for quick emergency response

    +nav-1({ target: "team", direction: "next" })
