section(class="canvas section-1" id="section-1")

    h2 Our Mission

    div(class="content")

        div

            img(src="images/home/section-1/_inline/logo.svg" inline)

            article

                h2 Creating IT solutions & drones able to withstand the hottest wildfires

                p.
                  Lightweight fire-proof drones for monitoring & extinguishing flames
                br.
                p.
                  Cross County & Cross State Coordination Capabilities
                br.
                p.
                  Integrated Satellite Systems Data For Real-Time Planning & Exectuion

    +nav-1({ target: "section-2", direction: "next" })
