section(class="canvas section-2" id="section-2")

    h2 Key Features

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Aerospace Materials
                p.
                    Aerogel composites
        div

            svg: use(xlink:href="/assets/images/home/section-1/_inline/lightning.svg")

            article

                h2 Arc Extinguishment
                p.
                    40kV, AC/DC

        div

            svg: use(xlink:href="/assets/images/_sprites/capacitor.svg")

            article

                h2 Solid State Battery
                p.
                    Fire-resistant battery management system

        div

            svg: use(xlink:href="/assets/images/_sprites/fast.svg")

            article

                h2 Fast
                p.
                    Optimized for quick emergency response

    +nav-1({ target: "section-3", direction: "next" })
