section(class="canvas section-1" id="section-1")

    h2 Our Mission

    div(class="content")

        div

            img(src="images/home/section-1/_inline/logo.svg" inline)

            article

                h2 Creating drones able to withstand the hottest wildfires

                p.
                  Lightweight fire-proof drones for monitoring & extinguishing flames

    +nav-1({ target: "section-2", direction: "next" })
