section(class="canvas supporters" id="supporters")

    h2 Supporters

        div(class="content")
            div
                figure
                    img(src="https://www.ycombinator.com/assets/ycdc/home/StartupSchool-a510aa286c96242aba941806c8887da2a7b704fa810f640f2eee79ebdff66167.png")

                article
                    h3 a(href="https://www.startupschool.com) YC SUS
            div
                figure
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#nasa")

                article
                    h3 a(href="https://technology.nasa.gov/") T2: Tech Transfer

            div
                figure
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#darpa")

                article
                    h3 a(href="https://www.darpa.mil/work-with-us/for-small-businesses/participate-sbir-sttr-program")


    +nav-1({ target: "newsletter", direction: "next" })
