section(class="canvas supporters" id="supporters")

    h2 Supporters


            div(class="content")

                figure
                    img(src="https://www.ycombinator.com/assets/ycdc/home/StartupSchool-a510aa286c96242aba941806c8887da2a7b704fa810f640f2eee79ebdff66167.png")


                figure
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#NASA")


                figure
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#DARPA")

    +nav-1({ target: "newsletter", direction: "next" })))
