section(class="canvas supporters" id="supporters")

    h2 Supporters

        div(class="content")
            div
                figure
                    img(src="https://www.ycombinator.com/assets/ycdc/home/StartupSchool-a510aa286c96242aba941806c8887da2a7b704fa810f640f2eee79ebdff66167.png")

                p.
                    #[a(href="https://www.startupschool.com) #[YC Startup Up School]]

                figure
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#nasa")

                p.
                    #[a(href="https://technology.nasa.gov/") #[T2: Tech Transfer]]

                figure
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#darpa")

                p.
                    #[a(href="https://www.darpa.mil/work-with-us/for-small-businesses/participate-sbir-sttr-program")]


    +nav-1({ target: "newsletter", direction: "next" })
