section(class="canvas team" id="team")

    h2 Team

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#lattice")

            article

                h2 Conor OBrien
                p.
                    UCSB Physics br.
                    Aerospace & Defense Contracting br.
                    Xoogler
        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#lightning")

            article

                h2 Ramsey Issa
                p.
                    PhD Material Science - University of Utah |
                    Ex-Aerojet Rocketdyne

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#capacitor")

            article

                h2 John D. Almon
                p.
                    Advisor |
                    Inventor |
                    Supercomputing Veteran |
                    Diamond Drill Composites |
                    AI Researcher

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#fast")

            article

                h2
                p.

    +nav-1({ target: "section-3", direction: "next" })
