section(class="canvas team" id="team")

    h2 Team

    div(class="content")

        div
            article

                h2 Conor OBrien
                p.
                    UCSB Physics
                br.
                p.
                    Aerospace & Defense Contracting
                br.
                p.
                    Xoogler

        div
           article

            h2 Arian Alavi

            p.
               Full-Stack, AI/ML Engineer - UCSB Mathematics
               
               
        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#pointing")

            article

                h2 You!
                p.
                    Contact us about our new opportunities!

        div
            article

            h2 Ricky Lalwani

            p.
                Full-Stack & Firmware Engineer - UCSB Economics

        div
            article

                h2 Ramsey Issa
                p.
                    PhD Material Science - University of Utah
                br.
                p.
                    Ex-Aerojet Rocketdyne
                br.
                p.
                    GIS Satellite Analytics

        div
            article

                h2 John D. Almon
                p.
                    Advisor
                br.
                p.
                    Inventor
                br.
                p.
                    Supercomputing Veteran
                br.
                p.
                    Diamond Drill Composites
                br.
                p.
                    AI Researcher


    +nav-1({ target: "section-3", direction: "next" })
