section(class="canvas wind-monitor" id="wind-monitor")

    h2 Local Wind Monitor
        div(class="content", id="windy")
            script(src="logic/windy.js")
    +nav-1({ target: "front", direction: "prev" })
